.simply-sidebar{
    border: 1px solid;
    height: 700px;
    width: 30%;
    float: right;
    overflow: auto;
}
.simply-content{
    border: 1px solid;
    width: 70%;
    height: 600px;
    float: left;
    overflow: auto;
}
.simply-input{
    position: inherit;
    border: 1px solid;
    width: 70%;
    height: 100px;
    float: left;
}
.simply-editor-area{
    resize: none;
    height: 70px;
    width: 100%;
}
.simply-col-size{
    padding: 0px;
    /*margin-top: 27px;*/
}
#message-form{
    border: none;
}
#message-form label{
    display: none;
}
.simply-mute{
    float: right;
}
.simply-ban{
    float: right;
}
.simply-chat{
    border: none;
    font-size: small;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 424px)  {
    .simply-sidebar{
        height: auto;
        width: 100%;
    }
    .simply-content{
        width: 100%;
    }
    .simply-input{
        width: 100%;
    }
}